* {box-sizing:border-box;
  padding:0;
  margin:0;
}


.bg{
	background-color:cornsilk;
	background-size: cover;
	background-repeat: no-repeat;
}

.carousel .carousel-item {
	height: 500px;
    
	
  }
  
  .carousel-item img {
	  position:relative;
	  object-fit:cover;
	  top: 0;
	  left: 0;
	  min-height: 500px;
  }
   /*.card{
	   margin:40px;
	   padding:25px;}*/
   
   .card-title{
	   text-align: center;
   }
   .spacing{
	   margin:20px;
   }
   .head{
	   background-color: darkmagenta;
	   border-radius: 5px;
	   margin-top:-40px;
	    -webkit-box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1); 
		-moz-box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1);
		box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1);
		
   }
   .effect-1{
	   width:100px;
	   border:0px;
	   outline:none;
	   padding:7px 0px;
	   border-bottom:1px solid #ccc;

   }
   .effect-1 ~.Focus-border{
       position:absolute;
	   bottom:0;
	   left:50%;
	   height:2px;
	   width:0;
	   background-color: rgba(235, 23, 235, 1);
	   transition: 0.4s;
   }
   .effect-1:focus~.Focus-border{
	   width:100%;
	   transition:0.4s;
	   left:0;
 }
 .btn1{
	 background: rgba(185, 19, 185);
	 color:white;
	 outline:none;
	 border:none;
	 border-radius:5px;
	 height:40px;
	 width:145px;
 }.btn1:hover{
	-webkit-box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1); 
	-moz-box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1);
	box-shadow: -1px 9px 27px -8px rgba(235, 23, 235, 1);
 }